header {
    margin: 2px 0 10px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
}

.header_blank {
    flex-grow: 4;
}

a.header_signup {
    color: #0065FC;
    font-size: 0.9em;
    font-weight: bold;
    padding: 20px 20px;
}

.header_li {
    padding: 20px 20px;
    font-size: 0.9em;
    border-top: solid 2px white;
}

.header_li:hover {
    border-top: solid 2px #0065FC;
}

header a:hover {
    color: #0065FC;
}

.intro {
    margin: 20px 30px 0;
}

.search {
    margin: 30px 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search_icon {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    font-size: 0.9em;
    padding: 0.9em;
}

.search_input {
    font-size: 0.9em;
    font-weight: bold;
    border: solid 0.1em #F2F2F2;
    padding: 0.7em;
}

.search_button {
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    padding: 0.78em;
}

.search_button::after {
    content: "Rechercher";
}

.filters {
    margin: 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filters_title {
    font-weight: 800;
    font-size: 0.9em;
    margin: 10px 20px 0 0;
}

.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.filter_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    font-size: 0.9em;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 2em;
    padding: 0.6em;
    z-index: 100;
}

.filter_name {
    margin: 0 22px 0 -2.8em;
    font-size: 0.8em;
    font-weight: 800;
    border: solid 0.1em #d1d1d1;
    border-radius: 1.6em;
    padding: 0.9em 1em 0.8em 3.6em;
}

.filter_name:hover {
    color: white;
    background-color: #0065FC;
}

.result {
    margin: 20px 30px 0;
    display: flex;
    justify-content: flex-start;
}

.result_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    font-size: 0.6em;
    border: solid 1px #F2F2F2;
    color: #0065FC;
    border-radius: 2em;
    padding: 0.4em;
    margin-right: 10px;
    margin-top: 2px;
}

.container_2 {
    margin: 0 20px;
    display: flex;
}

.container_2 section {
    flex: 58%;
    max-width: 58%;
    background-color: #F2F2F2;
    border-radius: 1em;
    margin: 20px 10px 0;
    padding: 30px;
}

.accommodation_container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -1.5% 0;
    justify-content: center;
}

.accommodation_bloc {
    flex: 28.5%;
    max-width: 28.5%;
    margin: 1.5%;
    background-color: white;
    box-shadow: 0 0 5px grey;
    padding: 5px;
    border-radius: 1em;
}

.accommodation_bloc:hover {
    box-shadow: 0 0 10px black;
}

.img_accommodation {
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 0.8em 0.8em 0 0;
}

.accommodation_bloc h3 {
    color: black;
    font-size: 1em;
    margin: 5px 0 5px 8px;
    font-weight: 700;
}

.accommodation_bloc p {
    color: black;
    font-size: 0.9em;
    margin: 5px 0 5px 8px;
}

.accommodation_bloc p span {
    font-weight: 700;
}

.accommodation_bloc div {
    font-size: 0.7em;
    color: #0065FC;
    margin: 5px 0 5px 8px;
}

.star_grey {
    color: #e0dada;
}

.more  {
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;
}