body{
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* En-tête */
header{
    display: flex;
    font-size: 0.9em;
    flex: 100%;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav{
    position: absolute;
    right: 0;
}

nav ul li:nth-child(1) a{
    color: black;
    font-weight: 500;
}

nav ul li:nth-child(2) a{
    color: black;
    font-weight: 500;
}

nav ul li:nth-child(3) a{
    color: #0065FC;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.survol:hover a {
    color: #0065FC;
}

.survol{
    padding: 30px;
    
    border-top: solid 2px white;
}

#sign-up{
    padding: 30px 60px 30px 30px;
}

.survol:hover {
    border-top: solid 2px #0065FC;
}

#logo {
    padding: 15px 0 0 30px;
}

/* container_1 */

h1 {
    font-size: 1.1em;
    font-weight: 700;
    padding: 30px 0 0 30px;
}

h1 + p {
    font-size: 0.9em;
    font-weight: 500;
    margin: 0;
    padding: 5px 0 0 30px;
}

form {
    display: flex;
    padding: 20px 0 0 30px;
}

form i {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px ;
    text-align: center;
    font-size: 0.9em;
    padding: 0.9em;
}

form input:nth-child(3) {
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0;
    border: 0.1px solid #0065FC;
    font-size: 0.9em;
    padding: 0.78em;
    font-weight: bold;
}

form input:nth-child(2) {
    font-size: 0.9em;
    font-weight: bold;
    border: solid 0.1em #F2F2F2;
    padding: 0.7em;
}   

/* filters */

.filters {
    display: flex;
    margin: 25px 0 0 40px;
}

.filters h3 {
    font-weight: 700;
    padding-top: 10px;
    font-size: 0.9em;
}

.filters ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 720px;
    position: relative;
    left: 12px;
}

.filters ul li {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    border-left: none;
}

.filters ul li:nth-child(1) div {
    padding: 10px;
    border-right: 1px solid none;
    border-left: 1px solid none;
    border-radius: 50%;
    background-color: #DEEBFF ;
    color: #0065FC;
    display: inline-block;
} 

.filters ul li:nth-child(2) div {
    padding: 10px 15px 10px 15px;
    border-right: 1px solid none;
    border-left: 1px solid none;
    border-radius: 50%;
    background-color: #DEEBFF ;
    color: #0065FC;
    display: inline-block;
} 

.filters ul li:nth-child(3) div {
    padding: 10px 12px 10px 12px;
    border-right: 1px solid none;
    border-left: 1px solid none;
    border-radius: 50%;
    background-color: #DEEBFF ;
    color: #0065FC;
    display: inline-block;
} 

.filters ul li:nth-child(4) div {
    padding: 10px 12px 10px 12px;
    border-right: 1px solid none;
    border-left: 1px solid none;
    border-radius: 50%;
    background-color: #DEEBFF ;
    color: #0065FC;
    display: inline-block;
} 

.filters ul li span {
    padding: 10px;
    font-weight: 700;
    font-size: 0.8em;
}

/* info */

.info {
    margin: 20px 0 0 40px;
    display: flex;
}

.info i {
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
    padding: 3px 7px 3px 7px;
    font-size: 0.6em; 
}

.info p{
    font-size: 0.9em;
    padding: 3px 7px 3px 7px;
}

/* container_2 */

.container_2 {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 0 40px;
}

.container_2 section {
    width: 1000px;
    height: 580px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.container_2 h2 {
    font-size: 0.9em;
    margin-top: 25px;
    margin-left: 25px;
}

.container_img_hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 25px 0 25px;
    height: 450px;
    align-items: center;
}

.img_hebergement {
    width: 235px;
    height: 200px;
    border: 3px solid white;
    border-radius: 12px;
    background-color: white;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
}

.test {
    height: 112px;
    width: 235px;
    object-fit: cover;
    border-radius: 11px 11px 0 0;
    margin-bottom: 5px;;
}

.img_hebergement h3, p {
    font-size: 0.8em;
    color: black;
    margin-left: 10px;
    margin-bottom: 5px;
}

.img_hebergement p span {
    font-weight: bold;
}

.img_hebergement i {
    font-size: 0.7em;
    color: #0065FC;
}

.img_hebergement div {
    margin-top: -3px;
    margin-left: 10px;
}

.star_gris {
    color: #d3d2d2 !important;
}

.plus {
    margin-left: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.8em;
}

aside {
    border: 1px solid black;
}